<!doctype html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<div class="container">

<h1>dashboard</h1>

</div>

<script>
$(function() {
	app.dashboard.initialize();
});
</script>

</body>
</html>